* {

    box-sizing: border-box;

}

body {
    background: linear-gradient(45deg,
            #7bf790,
            #ffffac);
}

.header-main-logo {
    color: rgb(21, 136, 6);
    margin: -10px auto 10px 10px;
    width: 50%;
}

h1 {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

h3 {
    margin-left: 65px;
    margin-top: -20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

.header-main-nav {
    height: 100%;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-main-nav ul {
    position: relative;
    list-style: none;
    float: right;
    margin-right: -5px;
    margin-top: -75px;
}

.header-main-nav ul li {
    display: inline;

}

.header-main-nav ul li a {
    padding: 0 10px;
    color: rgb(51, 103, 5);
}

.header-main-nav ul li a:hover {
    background-color: rgba(42, 125, 93, 0.5);
}

/* MEDIA QUERY ON HEADER */
@media screen and (max-width: 700px) {
    .header-main-logo {
        margin-top: 10px !important;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 5vw;
        margin: auto;
        /* margin-top: 10px; */
        /* margin-left: 10px; */
    }
}

@media screen and (max-width: 700px) {
    h3 {
        font-size: 3vw;
        margin: auto;
        /* margin-top: 10px; */
        /* margin-left: 10px; */
    }
}

@media screen and (max-width: 700px) {
    .header-main-nav ul {
        margin-top: 0.1vw;

    }
}

@media screen and (max-width: 700px) {
    .header-main-nav ul li {
        margin-top: 0.1vw;
        display: block;
        width: 80%;
    }
}

/* END MEDIA QUERY HEADER */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}

/* CARDS CONTAINER */
.cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 10px;
    margin-top: 80px;
    margin-left: 20px;
    /* width: 50%; */
    max-width: 300px;
}

.document_p {

    background-image: url("./images/docu_page.png");
    width: 300px;
    height: 200px;
}

.landing_p {
    background-image: url("./images/land_page.png");
    width: 300px;
    height: 200px;
}

.tribute_p {
    background-image: url("./images/juliusceasar_page.png");
    width: 250px;
    height: 260px;
}

.restaur_p {
    background-image: url("./images/buonappetito.png");
    width: 300px;
    height: 200px;
}

.hobby_p {
    background-image: url('./images/hobbypageimg.png');
    width: 300px;
    height: 200px;
}

.game_p {
    background-image: url("./images/project_game.png");
    width: 300px;
    height: 200px;
}


.overlay {
    position: relative;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border: none;
}

.cards_container:hover .overlay {
    position: relative;
    bottom: 0;
    opacity: 1;
    /* background-color: transparent; */
    color: #f1f1f1;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
}

img {
    margin: 5px;
    transition: all 2s;
}

img:hover {
    transform: scale (1.1);
}

/* MEDIA QUERY ON CARDS and IMAGES */
@media screen and (max-width: 700px) {
    .container {
        display: block;
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 700px) {
    .cards_container {
        display: block;
        padding: 20px;
    }
}

@media screen and (max-width: 700px) {
    .overlay {
        position: relative;
        /* margin-right: 40px; */
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        height: auto;
        transition: .5s ease;
        opacity: 0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;

    }
}

/* END MEDIA QUERY ON CARDS and IMAGES */


.btn_about {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 80px;
    margin-bottom: 20px;
    color: rgb(12, 37, 0);
    background-color: #ffffac;
    border: 2px solid yellow;
    padding: 10px;
    border-radius: 10px 10px;
}

.btn_about:hover {
    background-color: #ffff75;
    color: #00480c;
}

.btn_about:active {
    color: #00480c;
    background-color: transparent;
    border: 0.5px solid yellow;
}



#myself {
    display: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    width: 100%;
    text-align: left;
    margin-top: 10px;
}


footer {
    margin-top: 20px;
    /* color: rgb(12, 104, 0); */
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#elena {
    color: black;
    text-decoration: none;
}

#elena:hover {
    color: rgb(56, 144, 68);
}

#elena:active {
    color: rgb(205, 243, 213);
}