* {
    /* background-color: aquamarine; */
    box-sizing: border-box;
}

.header-main-logo {
    color: rgb(21, 136, 6);
    margin: -10px auto 10px 10px;
    width: 50%;
}

h1 {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

h3 {
    margin-left: 65px;
    margin-top: -20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

.header-main-nav {
    height: 100%;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-main-nav ul {
    position: relative;
    list-style: none;
    float: right;
    margin-right: -5px;
    margin-top: -75px;
}

.header-main-nav ul li {
    display: inline;

}

.header-main-nav ul li a {
    padding: 0 10px;
    color: rgb(51, 103, 5);
}

.header-main-nav ul li a:hover {
    background-color: rgba(42, 125, 93, 0.5);
}

/* MEDIA QUERY ON HEADER */
@media screen and (max-width: 700px) {
    .header-main-logo {
        margin-top: 10px !important;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 5vw;
        margin: auto;
        /* margin-top: 10px; */
        /* margin-left: 10px; */
    }
}

@media screen and (max-width: 700px) {
    h3 {
        font-size: 3vw;
        margin: auto;
        /* margin-top: 10px; */
        /* margin-left: 10px; */
    }
}

@media screen and (max-width: 600px) {
    .header-main-nav ul {
        margin-top: 0.1vw;

    }
}

@media screen and (max-width: 600px) {
    .header-main-nav ul li {
        margin-top: 0.1vw;
        display: block;
        width: 80%;
    }
}

/* END MEDIA QUERY HEADER */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5px;
}

/* CARDS CONTAINER */
.cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 150px;
    /* position: relative; */
    width: 50%;
    */ max-width: 300px;
}

.overlay {
    position: relative;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 50%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.cards_container:hover .overlay {
    opacity: 1;
}

img {
    margin: 5px;
    transition: all 2s;
}

img:hover {
    transform: scale (1.1);
}

/* MEDIA QUERY ON CARDS and IMAGES */
@media screen and (max-width: 600px) {
    .container {
        display: block;
        background-color: rgba(21, 136, 6, 0.2);
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .cards_container {
        display: block;
        padding: 20px;
    }

    @media screen and (max-width: 600px) {
        .overlay {
            position: relative;
            bottom: 0;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.5);
            color: #f1f1f1;
            width: 100%;
            transition: .5s ease;
            opacity: 0;
            color: white;
            font-size: 20px;
            padding: 20px;
            text-align: center;

        }
    }


    /* END MEDIA QUERY ON CARDS and IMAGES */

    footer {
        margin-top: 120px;
        color: rgb(12, 104, 0);
        font-weight: bold;

        /* background-color: rgba(21, 136, 6, 0.1); */

    }